<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="delivery">

	<!-- delivery -->
	<sql id="deliveryColumns">d.delivery_num,d.delivery_name,d.delivery_tel,d.delivery_img,d.delivery_day,f.fac_id,f.fac_name,f.fac_product</sql>
	
	<select id="allMem" resultType="delivery.controller.DeliveryInfo">
		select <include refid="deliveryColumns" /> from delivery d inner join factory f on d.fac_id=f.fac_id order by f.fac_id
	</select>
	
	<select id="maxDelivery_num" resultType="int">
		select max(delivery_num) from delivery
	</select>
	
	<select id="allDelivery" resultType="delivery.controller.DeliveryInfo">
		select <include refid="deliveryColumns" /> from delivery d left outer join factory f on d.fac_id=f.fac_id order by d.delivery_num
	</select>
	
	<select id="selectMem" parameterType="int" resultType="delivery.controller.DeliveryCommand">
		select * from delivery where delivery_num=#{delivery_num}
	</select>
	
	<insert id="insert" parameterType="delivery.controller.DeliveryCommand">
		insert into delivery values(#{delivery_num},#{delivery_name},#{delivery_tel},#{delivery_img},#{delivery_day},#{fac_id})
	</insert>
	
	<update id="update" parameterType="delivery.controller.DeliveryCommand">
		update delivery
		<set>
			<if test="delivery_name != null">delivery_name=#{delivery_name},</if>
			<if test="delivery_tel != null">delivery_tel=#{delivery_tel},</if>
			<if test="delivery_img != null">delivery_img=#{delivery_img},</if>
			<if test="delivery_day != null">delivery_day=#{delivery_day},</if>
			<if test="fac_id != null">fac_id=#{fac_id}</if>
		</set>
		where delivery_num=#{delivery_num}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from delivery where delivery_num=#{delivery_num}
	</delete>
	
	
	<!-- deliveryState -->
	<sql id="deliveryStateColumns">o_ref, o_title, o_deadline, o_regdate, o_receiver, o_sender, o_note, deliverystate</sql>
	
	<select id="getArticleCount" resultType="int">
	 select count(*) from ordering where not deliverystate='배송준비중'
	 <where>
	 	not deliverystate='배송준비중' and o_receiver='제 1 창고'
	 	<if test="st_id != 'admin'">
	 		and o_sender=#{st_id}
	 	</if>
	 </where>
	</select>
	
	<select id="getArticles" resultType="delivery.controller.StateCommand" parameterType="Map" >	
    select <include refid="deliveryStateColumns" />, r
    from (select <include refid="deliveryStateColumns" />, rownum r
    from (select <include refid="deliveryStateColumns" /> from ordering 
    <where>
    	not deliverystate='배송준비중' and o_receiver='제 1 창고'
    	<if test="st_id != 'admin'">
	 		and o_sender=#{st_id}
	 	</if>
    </where>  
    order by o_ref desc) order by o_ref desc) where r &gt;= #{startRow} and r &lt;= #{endRow}
	</select>
	
	<select id="searchgetArticleCount" resultType="int" parameterType="Map">
	 select count(*) from ordering 
	 <where> 
	 		not deliverystate='배송준비중' and o_receiver='제 1 창고'
			<if test="productSelect != ''">
				and o_ref in (select distinct o_ref from orderingpro where pro_name=#{productSelect})
			</if>	
			<if test="storeSelect != ''">
				and o_sender=#{storeSelect}
			</if>
			<if test="daySelect != 0">
				and o_regdate > sysdate-#{daySelect}
			</if> 
			<if test="searchText != ''">
				and (o_title like '%'|| #{searchText} ||'%' or o_note like '%'|| #{searchText} ||'%' or o_ref in (select distinct o_ref from orderingpro where pro_name like '%'|| #{searchText} ||'%'))
			</if>
			<if test="st_id != 'admin'">
		 		and o_sender=#{st_id}
		 	</if>
		</where>
	</select>
	
	<select id="searchgetArticles" resultType="delivery.controller.StateCommand" parameterType="Map" >
		select <include refid="deliveryStateColumns" />, r
    from (select <include refid="deliveryStateColumns" />, rownum r
    from (select * from ordering  
		<where> 
	 		not deliverystate='배송준비중' and o_receiver='제 1 창고'
			<if test="productSelect != ''">
				and o_ref in (select distinct o_ref from orderingpro where pro_name=#{productSelect})
			</if>	
			<if test="storeSelect != ''">
				and o_sender=#{storeSelect}
			</if>
			<if test="daySelect != 0">
				and o_regdate > sysdate-#{daySelect}
			</if> 
			<if test="searchText != ''">
				and (o_title like '%' || #{searchText} || '%' or o_note like '%' || #{searchText} || '%' or o_ref in (select distinct o_ref from orderingpro where pro_name like '%' || #{searchText} || '%'))
			</if>
			<if test="st_id != 'admin'">
		 		and o_sender=#{st_id}
		 	</if>
		</where>
		 order by o_ref desc) order by o_ref desc) where r &gt;= #{startRow} and r &lt;= #{endRow}
	</select>
	
	<!-- deliveryUnsolved -->
	<select id="getArticleCountUnsolved" resultType="int">
	 select count(*) from ordering 
	 <where>
   	deliverystate='배송준비중' and o_receiver='제 1 창고'
   	<if test="st_id != 'admin'">
 			and o_sender=#{st_id}
 		</if>
   </where>
	</select>
	
	<select id="getArticlesUnsolved" resultType="delivery.controller.StateCommand" parameterType="Map" >	
    select <include refid="deliveryStateColumns" />, r
    from (select <include refid="deliveryStateColumns" />, rownum r
    from (select * from ordering 
    <where>
	   	deliverystate='배송준비중' and o_receiver='제 1 창고'
	   	<if test="st_id != 'admin'">
	 			and o_sender=#{st_id}
	 		</if>
	   </where>
     order by o_ref desc) order by o_ref desc) where r &gt;= #{startRow} and r &lt;= #{endRow}
	</select>
	
	<select id="searchgetArticleCountUnsolved" resultType="int" parameterType="Map">
	 select count(*) from ordering 
	 <where> 
	 		deliverystate='배송준비중' and o_receiver='제 1 창고'
			<if test="productSelect != ''">
				and o_ref in (select distinct o_ref from orderingpro where pro_name=#{productSelect})
			</if>	
			<if test="storeSelect != ''">
				and o_sender=#{storeSelect}
			</if>
			<if test="daySelect != 0">
				and o_regdate > sysdate-#{daySelect}
			</if> 
			<if test="searchText != ''">
				and (o_title like '%' || #{searchText} || '%' or o_note like '%' || #{searchText} || '%' or o_ref in (select distinct o_ref from orderingpro where pro_name like '%' || #{searchText} || '%'))
			</if>
	   	<if test="st_id != 'admin'">
	 			and o_sender=#{st_id}
	 		</if>
		</where>
	</select>
	
	<select id="searchgetArticlesUnsolved" resultType="delivery.controller.StateCommand" parameterType="Map" >
		select <include refid="deliveryStateColumns" />, r
    from (select <include refid="deliveryStateColumns" />, rownum r
    from (select * from ordering  
		<where>
			deliverystate='배송준비중' and o_receiver='제 1 창고'
			<if test="productSelect != ''">
				and o_ref in (select distinct o_ref from orderingpro where pro_name=#{productSelect})
			</if>	
			<if test="storeSelect != ''">
				and o_sender=#{storeSelect}
			</if>
			<if test="daySelect != 0">
				and o_regdate > sysdate-#{daySelect}
			</if> 
			<if test="searchText != ''">
				and (o_title like '%' || #{searchText} || '%' or o_note like '%' || #{searchText} || '%' or o_ref in (select distinct o_ref from orderingpro where pro_name like '%' || #{searchText} || '%'))
			</if>
	   	<if test="st_id != 'admin'">
	 			and o_sender=#{st_id}
	 		</if>
		</where>
		 order by o_ref desc) order by o_ref desc) where r &gt;= #{startRow} and r &lt;= #{endRow}
	</select>
	
	<select id="allProduct" resultType="mj.Product.controller.ProductDataBean">
		select * from product
	</select>
	
	<select id="allStore" resultType="mj.Store.service.memberDataBean">
		select * from store where not st_id='admin'
	</select>
	
	
</mapper>