<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
	
	<insert id="addMember" parameterType="mj.Product.controller.ProductDataBean">
		insert into Product values ((#{pro_bcategory} ||(SUBSTR(#{pro_name},2,2)) || 'a' || (DECODE(#{pro_container},'알류미늄캔','1','페트병','2','유리병','3','종이팩','4')) || #{pro_volume}),#{pro_bcategory},(#{pro_name}||#{pro_volume}),#{pro_volume},#{pro_container},#{pro_calorie},#{pro_cPrice},#{pro_uPrice},#{pro_properStock},#{pro_image})
	</insert>
	
	<select id="sodaList" resultType="mj.Product.controller.ProductDataBean" parameterType="Map" >	
            select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image,r   
            from (select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image,rownum r  
            from (select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image 
            from Product order by pro_num ) where pro_bcategory='A' order by pro_num) where r &gt;= #{startRow} and r &lt;= #{endRow} 
	</select>
	
	<select id="drinkList" resultType="mj.Product.controller.ProductDataBean" parameterType="Map" >	
            select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image,r   
            from (select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image,rownum r  
            from (select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image 
            from Product where pro_bcategory='B' order by pro_num )where pro_bcategory='B' order by pro_num) where r &gt;= #{startRow} and r &lt;= #{endRow}
	</select>
	
	<select id="juiceList" resultType="mj.Product.controller.ProductDataBean" parameterType="Map" >	
            select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image,r   
            from (select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image,rownum r  
            from (select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image 
            from Product where pro_bcategory='C' order by pro_num )where pro_bcategory='C' order by pro_num) where r &gt;= #{startRow} and r &lt;= #{endRow}
	</select>
	
	<select id="milkList" resultType="mj.Product.controller.ProductDataBean" parameterType="Map" >	
            select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image,r   
            from (select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image,rownum r  
            from (select pro_num,pro_bcategory,pro_name,pro_volume,pro_container,pro_calorie,pro_image 
            from Product where pro_bcategory='D' order by pro_num )where pro_bcategory='D' order by pro_num) where r &gt;= #{startRow} and r &lt;= #{endRow}
	</select>
	
	<select id="sodaListCount" resultType="int">
			select count(*) from Product where pro_bcategory='A'
	</select>
	
	<select id="drinkListCount" resultType="int">
			select count(*) from Product where pro_bcategory='B'
	</select>
	
	<select id="juiceListCount" resultType="int">
			select count(*) from Product where pro_bcategory='C'
	</select>
	
	<select id="milkListCount" resultType="int">
			select count(*) from Product where pro_bcategory='D'
	</select>
	
	<delete id="deleteProduct" parameterType="mj.Product.controller.ProductDataBean">
		delete from Product where pro_num=#{pro_num}
	</delete>
</mapper>